.homepage {
    /* background-image: url(https://picsum.photos/600/700); */
    background-color: #A5B899;
    height: 100vh;
    position: relative;
}
html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}
::selection{
  background-color: rgb(238, 232, 147);
  color: #fff;
}
#navbar {
  overflow: hidden;
  z-index: 100;
}

#navbar a {
  float: left;
  display: block;
  color: #687461fd;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 8px;
  font-size: medium;
}

#navbar a:hover {
  background-color: rgb(238, 232, 147);
}
#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.homepage::before {
    content: "";
    background-image: url(".//images//clipboard.png"); /* url(https://picsum.photos/1600/2000); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: scroll; /* either fixed or scroll, decide later */
    height: auto;
    width: 100%;
    opacity: 60%;
}
#contact-link {
  color:white;
  text-decoration: none;
}
#contact-link:hover {
  color: rgb(235, 231, 166);
  text-decoration: none;
  cursor: pointer;
}

#mailto-link {
  color:black;
  text-decoration: none;
}
#mailto-link:hover {
  color:rgb(235, 231, 166);
  text-decoration: none;
  cursor: pointer;
}
.main-header {
    position: relative;
    color:white;
    top: 30vh;
}
.main-subheader {
    position: relative;
    color: white;
    top: 30vh;
}

#about-me ul.nonetype {
  list-style-type: none;
}
#about-me li {
  margin-bottom: 12px;
}

.projects-style {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-grid;
}
.project-column{
  padding:20px;
  justify-content: center;
  align-items: center;
}



.timeline{
  vertical-align: auto;
}
.timeline-content a{
  text-decoration: none;
  color:black
}
.timeline-content a:hover{
  color:#A5B899
}

.main-timeline {
  position: relative;
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #A5B899;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px
}

.main-timeline .icon:after {
  border: 2px solid #A5B899;
  left: 3px
}

.main-timeline .timeline:hover .icon:before {
  left: 3px
}

.main-timeline .timeline:hover .icon:after {
  left: -3px
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #A5B899;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #232323;
  left: -6px
}

.main-timeline .date-outer:after {
  border: 2px solid #A5B899;
  left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0
}

.main-timeline .description {
  margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right
}
.projects{
  padding-bottom: 120px;
}

#footer {
  padding-top: 30px;
  padding-bottom: 80px;
  justify-content: center;
  background-color: #A5B899;
  width: 100%;
  height: auto;
}
.footer-container {
  justify-content: center;
  text-align: center;
}
.footer-title {
  font-size: 50px;
  font-weight: 600;
  color: white;
}
.footer-text {
  color:white;
  font-size: 20px;
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
      margin-top: 35px
  }
  .main-timeline .date-content:before {
      width: 22.5%
  }
  .main-timeline .timeline-content {
      padding: 10px 0 10px 30px
  }
  .main-timeline .title {
      font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 10px 30px 10px 0
  }
  
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
      margin: 0;
      left: 7px
  }
  .main-timeline .timeline {
      margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
      margin-bottom: 0
  }
  .main-timeline .icon {
      margin: auto 0
  }
  .main-timeline .date-content {
      width: 95%;
      float: right;
      margin-top: 0
  }
  .main-timeline .date-content:before {
      display: none
  }
  .main-timeline .date-outer {
      width: 110px;
      height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
      width: 110px;
      height: 110px
  }
  .main-timeline .date {
      top: 30%
  }
  .main-timeline .year {
      font-size: 24px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      width: 95%;
      text-align: center;
      padding: 10px 0
  }
  .main-timeline .title {
      margin-bottom: 10px
  }
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1025px) {
    .main-header {
      font-size: 75px;
    }
    .about-me {
      height: 100vh;
      position: relative;
    }
    .main-subheader {
      font-size: 27px;
    }
    .homepage::before {
        position: absolute;
        top: 0px;
        right: 500px;
        bottom: 0px;
        left: 0px;
    }
    .subsection-header {
      font-size: 40px;
  }
    .subsection-text {
      font-size: 23px;
    }
    .profile-pic {
      width: 25vw;

  }
    li {
      font-size: 20px;
  }
  .project-card {
    width: 280px;
    height: 340px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 20px;
    background-color: #efefef;
    background-blend-mode: multiply;
    box-shadow: 3px 3px 3px #6b6b6b;
    justify-content: center;
  }
  
  .project-card:hover {
    background-color: #5d5d5d;
    
  }
  .project-card:hover .project-card-text {
    color: white;
  }
  .project-card:hover .project-card-desc {
    color: white;
  }
  .project-card:hover .project-github-icon {
    color: white
  }
  
  .project-card-text{
    padding-top: 15px;
    padding-bottom: 10px;
    color:transparent;
    font-weight:600;
  }
  .project-card-desc{
    color: transparent;
    font-weight: 500;
    padding-inline: 20px;
    text-align: left;
  }
  .project-github-icon{
    color: transparent;
  }
  }

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1024px) {
    .main-header {
      font-size: 35px;
      top: 30vh;
    }
    .main-subheader {
      font-size: 20px;
      top: 30vh
    }
    .about-me {
      height: 200vh;
      position: relative;
    }
    .homepage::before {
        position: absolute;
        background-position: center;
        background-size: cover; /* NOTE TO SELF, THIS MAKES IT RESPONSIVE TO IPHONE VIEWS*/
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
    .subsection-header {
      font-size: 30px;
  }
    .subsection-text {
      font-size: 15px;
  }
    .profile-pic {
      width: 70vw;
  }
    li {
      font-size: 15px;
  }
  .project-card {
    width: 280px;
    height: 340px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 20px;
    background-color: #efefef;
    background-blend-mode: multiply;
    box-shadow: 3px 3px 3px #6b6b6b;
    justify-content: center;
  }
  
  .project-card{
    background-color: #5d5d5d;
    
  }
  
  .project-card-text{
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight:600;
  }
  .project-card-desc{
    color: white;
    font-weight: 500;
    padding-inline: 20px;
    text-align: left;
  }
  .project-github-icon{
    color: white;
  }
  }

  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }