.homepage {
    /* background-image: url(https://picsum.photos/600/700); */
    background-color: #A5B899;
    height: 100vh;
    position: relative;
}
html, body{
  width: 100%;
}
.homepage::before {
    content: "";
    background-image: url(https://picsum.photos/1600/2000);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: scroll; /* either fixed or scroll, decide later */
    height: auto;
    width: 100%;
    opacity: 60%;
}

.main-header {
    position: relative;
    color:white;
    top: 30vh;
}
.main-subheader {
    position: relative;
    color: white;
    top: 30vh;
}

ul.nonetype {
  list-style-type: none;
}
li {
  margin-bottom: 12px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1025px) {
    .main-header {
      font-size: 75px;
    }
    .main-subheader {
      font-size: 27px;
    }
    .homepage::before {
        position: absolute;
        top: 0px;
        right: 500px;
        bottom: 0px;
        left: 0px;
    }
    .subsection-header {
      font-size: 40px;
  }
    .subsection-text {
      font-size: 23px;
    }
    .profile-pic {
      width: 25vw;
  }
    li {
      font-size: 20px;
  }
  }

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1024px) {
    .main-header {
      font-size: 35px;
      top: 30vh;
    }
    .main-subheader {
      font-size: 20px;
      top: 30vh
    }
    .homepage::before {
        position: absolute;
        background-position: center;
        background-size: cover; /* NOTE TO SELF, THIS MAKES IT RESPONSIVE TO IPHONE VIEWS*/
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
    .subsection-header {
      font-size: 30px;
  }
    .subsection-text {
      font-size: 15px;
  }
    .profile-pic {
      width: 70vw;
  }
    li {
      font-size: 15px;
  }
  }